.header {
  display: flex;
  align-items: center;
  justify-content: center;

  > a {
    color: #000;
    margin: 0 10px;
    transition: color .4s ease-in-out;
    padding: 20px 0;

    &:hover,
    &.active {
      color: #c353c3;
    }
  }
}
